/* birthdaze logo colours:
    blue:   #5271FF;
    yellow: #FEDE5E;
    pink:   #FE66BE;
    turq:   #5CE1E6;
 */

body {
  background-color: #fede5e;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1600px) {
  body {
    background-image: url("./media/cupcakes2.jpg");
    background-size: cover;
    object-fit: fill;
    color: #fede5e;
  }
}
@media only screen and (max-width: 1400px) {
  body {
    background-image: url("./media/blue-balloons.jpg");
    background-size: cover;
    object-fit: fill;
    color: #fede5e;
  }
}
@media only screen and (max-width: 800px) {
  body {
    background-image: url("./media/1-Birthday-cupcakes1.jpg");
    background-size: cover;
    object-fit: fill;
    color: #fede5e;
  }
}
@media only screen and (max-width: 400px) {
  body {
    background-image: url("./media/birthday-party.jpg");
    background-size: cover;
    color: #fede5e;
  }
}

.App {
  text-align: center;
  background-color: #5271ff;
  opacity: 0.94;
  min-height: 800px;
  width: 600px;
  margin: 30px auto;
  text-align: left;
  border-radius: 18px;
  padding: 20px;
}

.logo {
  float: right;
}

.add-button {
  color: #fede5e;
  text-align: center;
  font-size: 2em;
  width: 63px;
}

.add-button:hover,
.add-button:focus {
  color: #fede5e;
  text-align: center;
  font-size: 2.2em;
  border-color: #5271ff;
  background-color: #5271ff;
  outline: currentColor;
}

.edit {
  color: #fede5e;
  background-color: rgb(101, 129, 255);
  text-align: center;
  font-size: 0.8em;
}

.edit:hover,
.edit:focus {
  color: #fede5e;
  background-color: rgb(128, 151, 255);
}

.delete {
  float: right;
  color: #fede5e;
  background-color: rgb(101, 129, 255);
  text-align: center;
  font-size: 0.8em;
}

.delete:hover,
.delete:focus {
  color: #fede5e;
  background-color: rgb(128, 151, 255);
}

.rule {
  border: none;
  width: 100%;
  border-top: 2px solid rgb(101, 129, 255);
}

h4,
h5,
h6 {
  font-size: 1em;
  color: #fede5e;
}

h1 {
  font-size: 1.3em;
  color: #fede5e;
}

h2 {
  font-size: 1.2em;
  color: #fe66be;
}

h3 {
  font-size: 0.8em;
  color: #fede5e;
}

.birthday-today {
  background-color: #fe66be;
  color: #5271ff;
  font-weight: 800;
  padding-left: 8px;
}

a {
  color: #fede5e;
}

a:focus,
a:hover {
  color: #fede5e;
  outline: transparent;
}

.searchBackground {
  background-color: #fede5e;
}

/* - - - - DROPDOWN - - - - */

/* css for DROPDOWN */
.envelope,
.gift {
  float: left;
  color: #fede5e;
  background-color: rgb(101, 129, 255);
  text-align: center;
  font-size: 1.2em;
}

/* css for DROPDOWN */
.envelope:hover,
.envelope:focus,
.gift:hover,
.gift:focus {
  color: #fede5e;
  background-color: rgb(128, 151, 255);
}

/* css for DROPDOWN */
.info-dropdown {
  float: left;
  font-size: 1.1em;
  color: #fede5e;
  background-color: rgb(101, 129, 255);
  text-align: center;
  width: 36px;
  height: 36px;
  margin-right: 14px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.info-dropdown:hover,
.info-dropdown:focus {
  color: #fede5e;
  background-color: rgb(128, 151, 255);
}

/* css for DROPDOWN */
.interests {
  background-color: #fede5e;
  color: #5271ff;
  font-size: 0.9em;
  padding: 8px;
  margin: 9px;
  border: 0px;
}

/* - - - - ADD and EDIT modals - - - - */

/* css for modals */
.isVisible {
  display: initial;
}

/* css for modals */
.makeItPink {
  font-size: 1.5em;
  color: #fe66be;
}

/* css for modals */
.modal-dialog {
  color: currentColor;
  position: relative;
  display: table; /* This is important */
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
}

/* css for modals */
.modal-content {
  color: #fe66be;
  opacity: 1;
  background-color: rgb(51, 81, 214);
}

/* css for ADD modal */
.done-button {
  color: rgb(40, 62, 158);
  background-color: #fe66be;
  text-align: center;
  font-size: 1em;
}
.done-button:hover,
.done-button:focus {
  color: rgb(51, 81, 214);
  background-color: rgb(255, 138, 206);
}
